<div ng-controller="noteCtrl">	
<form  name="form" novalidate>
	<p> Content </p><input class="note" ng-style="note" type="text" ng-model="note.Content" required>

	
	<div class="btn-group" role="group">
		<button id="greenButton"class="color-button" type="button"></button>
		<button id="blueButton" class="color-button" type="button" ng-click="note={'background-color':'blue'}"></button>
		<button id="yellowButton" class="color-button" type="button" ></button>
		<button id="redButton" class="color-button" type="button"></button>
		

	</div>



</form>

	
	<button 
	ng-disabled="form.$invalid" class="btn add-btn" type="submit" ng-click="addNote(note)"> Add Note </button>

	<p
		class="help-block"
		ng-show"You must fill in content in order to make a note"
		>Fill in content in order to make a note</p>


</div>